{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/assets/css/fullcalendar.css" />
<link rel="stylesheet" href="/static/assets/css/fullcalendar.print.css" media="print" />
<script src="/static/assets/js/moment.min.js"></script>
<script src="/static/assets/js/fullcalendar.min.js"></script>
<script src="/static/assets/js/facebook.js"></script>
<meta property="og:title" content="{{ term.name }} schedule for {{ schedule_user.first_name }} {{ schedule_user.last_name }}" />
<meta property="og:description" content="{{ social_desc }}" />
<style>
  .schedule-form  {
    display: table;
  }
  .schedule-form h1, h5 {
      display: inline-block;
  }
  .schedule-form h5 {
    vertical-align: middle;
  }
  .schedule-form input {
    display: table-cell;
  }
	#calendar-tab {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}
	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
  #course-list {
    overflow-y: scroll;
  }
  .color {
    width:5px;
    position: absolute;
    width: 1em;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  .print-only {
    display: none;
  }
  @media print {
    .print-only {
      display: block !important;
    }
    .noprint, footer {
      display: none;
    }
    a:link:after, a:visited:after {
      display: none;
      content: "";
  }
}
</style>
<style media="screen" type="text/css">
.fb_iframe_widget span {
    vertical-align: middle !important;
}
</style>
{% if share %}
<style type="text/css" media="print">
@page {
  size: auto;
}
.container > .tabpanel, .container > .well, .nav, #list-tab, .pull-right, footer {
  display: none;
}
.print-content {
  display: block !important;
}
.pagebreak {
  page-break-after: always;
}
#calendar-tab {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important
}
{% endif %}
</style>
<script>
$(document).ready(function() {
  $('#calendar').fullCalendar({
    defaultView: 'agendaWeek',
    header: false,
    editable: false,
    hiddenDays: [0],
    allDaySlot: false,
    scrollTime: '07:30:00',
    columnFormat: 'ddd',
    events: '/schedule/calendar/course/?identifier={{ identifier }}&color=true',
    loading: function(isLoading, view) {
      if (!isLoading) {
        $('#course-list').css('max-height', $('#calendar').height() + 'px');
      }
    }
  });
  $('#share-url').popover({
    animation: true,
    html: true,
    trigger: 'focus',
    placement: 'bottom',
    title: 'Remember!',
    content: '<strong>Your schedule is private except when you choose to share your link with others.</strong> Be mindful of who you are sharing your schedule with at all times.',
  });
  $('#color-toggle').change(function() {
    if (this.checked) {
        $('.color').css('display', 'block');
        $('.fc-time-grid-event').each(function() {
          var color = $(this).data('color');
          $(this).css('background-color', color);
          $(this).css('border-color', color);
        });
    } else {
      $('.color').css('display', 'none');
      $('.fc-time-grid-event').each(function() {
        var color = $(this).css('background-color');
        $(this).data('color', color);
        $(this).css('background-color', '#3A87AD');
        $(this).css('border-color', '#3A87AD');
      });
    }
  });
  $('#detail-toggle').change(function() {
    if (this.checked) {
        $('.course-detail').css('display', 'block');
    } else {
      $('.course-detail').css('display', 'none');
    }
  });
});
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=886841334691353";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block schedule-active %}active{% endblock %}
{% block content %}
<div class="container">
  {% if invalid_courses %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Whoops!</strong> Some of the classes you scheduled couldn't be found. The following CRNs are invalid for this term:
    {% for entry in invalid_courses %}
    {{ entry.course_crn }}{% if not forloop.last %}, {% else %}{% endif %}
    {% endfor %}
  </div>
  {% endif %}
  <div class="print-only">
    <center>
      <h1>Your <strong>{{ term.name }}</strong> schedule</h1>
    </center>
  </div>
  <div class="well noprint">
    {% if has_courses %}
    <div class="pull-right">
      <div class="fb-share-button" data-href="{{ share_url }}" data-layout="button"></div>
      <button class="btn btn-default btn-xs" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>
    </div>
    {% endif %}
    <h1>
      <form class="schedule-form" action="/schedule/" method="post">
        Your
        <h5>
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
        {% endfor %}
        </h5>
        schedule
        {% if has_courses %}
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Share</span>
          <input readonly id="share-url" style="background-color: #FFF;" type="text" size="35" class="form-control" aria-describedby="basic-addon1" onClick="this.setSelectionRange(0, this.value.length)" value="{{ share_url }}">
        </div>
        {% endif %}
      </form>
    </h1>
  </div>
  {% if has_courses %}
  {% if has_exams %}
  <div class="alert alert-info" role="alert">
    <center><a href="/schedule/exam/{{ term.value }}/" class="alert-link">View Exam Schedule</a></center>
  </div>
  {% endif %}
  <div class="schedule">
    <table class="table">
      <tr style="border: 0;">
        <td class="noprint">
          <div id="course-list">
            <div class="list-group pull-left">
              {% for course, color in course_colors.items %}
              <a href="/course/{{ course.term.value }}/{{ course.crn }}/" class="list-group-item" >
                <div class="color" style="background-color:{{ color }};">
                </div>
                <h4 class="list-group-item-heading">
                  {{ course.course }}
                  <br>
                  {{ course.title }}
                </h4>
                <p class="list-group-item-text">
                  {{ course.primary_meeting_time }}
                  <br>
                  {{ course.location }}
                  <br>
                  {{ course.instructor }}
                  <div class="course-detail">
                    <br>
                    <strong>CRN:</strong> {{ course.crn }}
                    <br>
                    <strong>Type:</strong> {{ course.ctype }}
                    <br>
                    <strong>Seats:</strong> {{ course.seats }}
                  </div>
                </p>
              </a>
              {% endfor %}
            </div>
          </div>
        </td>
        <td>
          <div id="calendar"></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="well noprint">
    <form>
      <input type="checkbox" id="color-toggle" checked> Show Colors
      <br>
      <input type="checkbox" id="detail-toggle" checked> Show Course Details
    </form>
  </div>
  <div class="print-only">
    {% render_table print_table %}
  </div>
  {% else %}
  <div class="well">
    <h4>
      <p>
        Your schedule looks a bit bare...
      </p>
      <p>
        <a href="/search/"><span class="glyphicon glyphicon-search"></span> Search for classes to add</a><map>
      </p>
      <p>
        <a href="/about/#getting-started"><span class="glyphicon glyphicon-cloud-upload"></span> Sync classes from CNU Live</a>
      </p>
    </h4>
  </div>
  {% endif %}
</div>
<div id="fb-root"></div>
{% endblock %}
