{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/assets/css/fullcalendar.css" />
<link rel="stylesheet" href="/static/assets/css/fullcalendar.print.css" media="print" />
<script src="/static/assets/js/moment.min.js"></script>
<script src="/static/assets/js/fullcalendar.min.js"></script>
<script src="/static/assets/js/facebook.js"></script>
<meta property="og:site_name" content="CNU Open Course Project"/>
<meta property="og:title" content="{{ term.name }} schedule for {{ user.first_name }} {{ user.last_name }}" />
<meta property="fb:app_id" content="886841334691353" />
<meta property="og:description" content="{{ social_desc }}" />
<style>
  form h1, h5 {
      display: inline-block;
  }
  form h5 {
    vertical-align: middle;
  }
  input {
    display: table-cell;
  }
	#calendar-tab {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}
	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
</style>
<script>
var switched = false;
$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
      left:   'today prev,next',
      center: 'title',
      right:  'agendaWeek,month',
    },
    defaultView: 'agendaWeek',
    editable: false,
    hiddenDays: [0],
    allDaySlot: false,
    events: '/schedule/calendar/exam/?identifier={{ identifier }}',
    loading: function(isLoading, view) {
      // Hacky fix to avoid calendar loading
      if (!isLoading && !switched) {
        $('#viewTabs a[href="#list-tab"]').tab('show');
        switched=true;
      }
    }
  });
});
</script>
{% endblock %}

{% block schedule-active %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="well">
    <h1>
      Your <strong>{{ term.name }}</strong> exam schedule
      <h6>
        <strong class="text-danger">Exam schedules are computed automatically.</strong>
        <br>
        Do not rely on this page to be accurate and ALWAYS double check your
        exam schedule using the official PDF.
      </h6>
    </h1>
  </div>
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="viewTabs">
      <li role="presentation"><a href="#list-tab" aria-controls="list-tab" role="tab" data-toggle="tab">List View</a></li>
      <li role="presentation" class="active"><a href="#calendar-tab" aria-controls="calendar-tab" role="tab" data-toggle="tab">Calendar View</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="list-tab"><br>{% render_table table %}</div>
      <div role="tabpanel" class="tab-pane active" id="calendar-tab"><div id="calendar"></div></div>
    </div>
  </div>
</div>
{% endblock %}
