{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/assets/css/fullcalendar.css" />
<link rel="stylesheet" href="/static/assets/css/fullcalendar.print.css" media="print" />
<script src="/static/assets/js/moment.min.js"></script>
<script src="/static/assets/js/fullcalendar.min.js"></script>
<script src="/static/assets/js/facebook.js"></script>
<style>
  form h1, h5 {
      display: inline-block;
  }
  form h5 {
    vertical-align: middle;
  }
  input {
    display: table-cell;
  }
	#calendar-tab {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}
	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
  @media print {
    .noprint {display:none !important;}
    a:link:after, a:visited:after {
      display: none;
      content: "";
  }
}
</style>
<style type="text/css" media="print">
@page {
  size: auto;
}
.container > .tabpanel, .container > .well, .nav, .pull-right, footer {
  display: none;
}
.print-content {
  display: block !important;
}
.pagebreak {
  page-break-before: always;
}
#calendar-tab {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}
</style>
<script>
var switched = false;
$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
      left:   'today prev,next',
      center: 'title',
      right:  'agendaWeek,month',
    },
    defaultView: 'agendaWeek',
    defaultDate: '{{ first_exam }}',
    editable: false,
    hiddenDays: [0],
    allDaySlot: false,
    events: '/schedule/calendar/exam/?identifier={{ identifier }}',
    loading: function(isLoading, view) {
      // Hacky fix to avoid calendar loading
      if (!isLoading && !switched) {
        $('#viewTabs a[href="#list-tab"]').tab('show');
        switched=true;
      }
    }
  });
});
</script>
{% endblock %}

{% block schedule-active %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="print-content" style="display: none;">
    <center>
      <h1>UNOFFICIAL {{ term.name }} exam schedule</h1>
      <p>
        This listing is automatically computed and is not an official
        exam schedule. Do not rely on it to be accurate and always
        double-check using the official schedule listed at http://cnu.edu/registrar/
      </p>
    </center>
  </div>
  <div class="well">
    <div class="pull-right">
      <button class="btn btn-default btn-xs" onclick="window.print()">Print</button>
    </div>
    <h1>
      Your <strong>{{ term.name }}</strong> exam schedule
      <h6>
        <strong class="text-danger">Exam schedules are computed automatically.</strong>
        <br>
        Do not rely on this page to be accurate and ALWAYS double check your
        exam schedule using the <a href="{{ source.cnu_source }}">official PDF</a>.
      </h6>
    </h1>
  </div>
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="viewTabs">
      <li role="presentation"><a href="#list-tab" aria-controls="list-tab" role="tab" data-toggle="tab">List View</a></li>
      <li role="presentation" class="active"><a href="#calendar-tab" aria-controls="calendar-tab" role="tab" data-toggle="tab">Calendar View</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="list-tab"><br>{% render_table table %}</div>
      <div role="tabpanel" class="tab-pane active" id="calendar-tab"><div class="pagebreak"></div><div id="calendar"></div></div>
    </div>
  </div>
</div>
{% endblock %}
