{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/assets/css/fullcalendar.min.css" />
<script src="/static/assets/js/moment.min.js"></script>
<script src="/static/assets/js/fullcalendar.min.js"></script>
<script src="/static/assets/js/facebook.js"></script>
<style>
  form h1, h5 {
      display: inline-block;
  }
  form h5 {
    vertical-align: middle;
  }
  input {
    display: table-cell;
  }
	#calendar {
    max-width: 70%;
		margin: 0 auto;
	}
  .print-only {
    display: none;
  }
  @media print {
    .print-only {
      display: block !important;
    }
    .noprint, footer {
      display: none;
    }
    a:link:after, a:visited:after {
      display: none;
      content: "";
  }
}
</style>
<style type="text/css" media="print">
@page {
  size: auto;
}
.container > .tabpanel, .container > .well, .nav, .pull-right, footer {
  display: none;
}
.print-content {
  display: block !important;
}
.pagebreak {
  page-break-before: always;
}
</style>
<script>
var switched = false;
$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
      left:   'today prev,next',
      center: 'title',
      right:  'listMonth,agendaWeek',
    },
    defaultView: 'listMonth',
    defaultDate: '{{ first_exam }}',
    minTime: '08:00:00',
    maxTime: '22:00:00',
    editable: false,
    hiddenDays: [0],
    allDaySlot: false,
    events: '/schedule/calendar/exam/?identifier={{ identifier }}'
  });
});
</script>
{% endblock %}

{% block schedule-active %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="print-content" style="display: none;">
    <center>
      <h1>UNOFFICIAL {{ term.name }} exam schedule</h1>
      <p>
        This listing is automatically computed and is not an official
        exam schedule. Do not rely on it to be accurate and always
        double-check using the official schedule listed at http://cnu.edu/registrar/
      </p>
    </center>
  </div>
  <div class="well">
    <div class="pull-right">
      <button class="btn btn-default btn-xs" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>
    </div>
    <h1>
      Your <strong>{{ term.name }}</strong> exam schedule
      <h6>
        <strong class="text-danger">Exam schedules are computed automatically.</strong>
        <br>
        Do not rely on this page to be accurate and ALWAYS double check your
        exam schedule using the <a href="{{ source.cnu_source }}">official PDF</a>.
      </h6>
    </h1>
  </div>
  <div id="calendar" style="overflow-y: scroll;"></div>
</div>
{% endblock %}
