{% extends "base.html" %}

{% block title %}{{ course.course }}: {{ course.title }}{% endblock %}
{% block head %}
<meta property="og:title" content="{{ course.course }}: {{ course.title }}" />
<meta property="og:description" content="{% if course.instructor %}With {{ course.instructor.full_name }} f{% else %}F{% endif %}or {{ course.term }}" />
{% if request.user.is_authenticated %}
<script src="/static/assets/js/facebook.js"></script>
<script>
var api_username = "{{ api_username }}"
var api_key = "{{ api_key }}"
$(document).ready(function() {
  $('a[name="material-google-link"]').each(function(i, obj) {
    var link = $(this);
    var query = link.data('query');
    var href = "https://google.com/#q=" + encodeURIComponent(query);
    link.attr('href', href);
  });
});
facebookCallback = function(response) {
  if (response.status === 'connected') {
    $.get('/friends/', {term: "{{ term.value }}", crn: "{{ course.crn }}"}, function(data) {
      if (data.length == 0) {
        return;
      }
      var arr = data.split(",");
      var ids = []
      var added = 0
      if (arr.length > 0) {
        FB.api('/me', function(response) {
          var my_id = response.id;
          for(var i=0;i<arr.length;i++) {
            var id = arr[i];
            if (id != my_id) {
              ids.push(id);
            }
          }
          for(var i=0;i<ids.length;i++) {
            var id = ids[i];
            FB.api('/' + id, function(response) {
              var name = response.name;
              var detail_id = response.id
              var url = 'http://facebook.com/' + detail_id;
              FB.api('/' + detail_id + '/picture/', function(response) {
                var picture_url = response.data.url;
                $(".social-body").append('<a href="' + url + '" title="' + name + '"><img src="' + picture_url + '" alt="' + name + '" hspace="5"></a>');
                added++;
                if (added == ids.length && ids.length > 0) {
                  $(".social-heading").html(ids.length + (ids.length == 1 ? " person" : " people") + " taking this class");
                  $(".social-panel").removeClass("hidden");
                }
              });
            });
          }
        });
      }
    });
  }
}
</script>
<script src="/static/assets/js/buttons.js"></script>
{% endif %}
{% endblock %}

{% block search-active %}active{% endblock %}
{% block content %}
<!-- Suggestion Modal -->
{% if request.user.is_authenticated %}
{% include "component/suggestion-modal.html" %}
{% endif %}
<!-- Materials Modal -->
{% include "component/materials-modal.html" %}
<div class="container">
  {% if not authenticated %}
  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Log in with your CNU account to schedule or get updates about this course.
  </div>
  {% elif course.seats == 0 %}
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Heads up:</strong> this class is full.
    Click <strong>Get Updates</strong> to be notified if it opens.
  </div>
  {% endif %}
  <div class="page-header">
    {% if authenticated %}
    <button type="submit" name="follow-button" type="button" data-term-id="{{ term.value }}" data-course-crn="{{ course.crn }}" class="btn btn-default pull-right">
      <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Loading...
    </button>
    {% endif %}
    <h1><strong>{{ course.course }}</strong>: {{ course.title }} {% if course.instructor %}<small>with {% if course.instructor.rmp_link %}<a href="{{ course.instructor.rmp_link }}" target="_blank">{% elif course.instructor.last_name != "Staff" and request.user.is_authenticated %}<a href="#instructor" data-toggle="modal" data-target="#instructor">{% endif %}{{ course.instructor }}{% if course.instructor.rmp_link %} ({{ course.instructor.rmp_score }})</a>{% elif course.instructor.last_name != "Staff" %}</a>{% endif %}</small>{% endif %}</h1>
  </div>
  <div class="lead">
    <div class="well well-sm">
      {% if authenticated %}
      <button type="submit" name="schedule-button" type="button" data-term-id="{{ term.value }}" data-course-crn="{{ course.crn }}" class="btn btn-default pull-right">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Loading...
      </button>
      {% endif %}
      <p>
        {% if course.location %}
        Meets
        {% endif %}
        {% if primary_meeting_time %}
        <strong>{{ primary_meeting_time.days }}</strong> from <strong>{{ primary_meeting_time.start_time }}</strong> - <strong>{{ primary_meeting_time.end_time }}</strong>
        {% endif %}
        {% if course.location %}
        in {{ course.location }}.
        {% endif %}
        {% if secondary_meeting_times %}
        <br>
        <small>
          <ul>
            {% for meeting_time in secondary_meeting_times %}
            <li>On <strong>{{ meeting_time.days }}</strong> from <strong>{{ meeting_time.start_time }}</strong> - <strong>{{ meeting_time.end_time }}</strong></li>
            {% endfor %}
          </ul>
        </small>
        {% endif %}
      </p>
      <p>
        <a class="btn btn-default btn-lg" href="{{ course.course_link }}" role="button">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> View Details
        </a>
        <a class="btn btn-default btn-lg" href="#materials" data-toggle="modal" data-target="#materials" role="button">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> View Materials
        </a>
      </p>
    </div>
  </div>
  <div class="panel panel-default social-panel hidden">
    <div class="panel-heading social-heading"></div>
    <div class="panel-body social-body">
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Term</h4>
      <p class="list-group-item-text">{{ term.name }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">CRN</h4>
      <p class="list-group-item-text">{{ course.crn }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Seats Left</h4>
      <p class="list-group-item-text">{{ course.seats }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Section</h4>
      <p class="list-group-item-text">{{ course.section }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Credit Hours</h4>
      <p class="list-group-item-text">{{ course.hours }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Course Type</h4>
      <p class="list-group-item-text">{{ course.ctype }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Attributes</h4>
      <p class="list-group-item-text">{% if course.attributes %}{{ course.get_attributes }}{% else %}N/A{% endif %}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Exam Period</h4>
      <p class="list-group-item-text">{% if exam %}<div class="pull-right">(Computed automatically - please <a href="{{ exam_source.cnu_source }}">double-check</a>)</div><strong>{{ exam.exam_date }}</strong> from <strong>{{ exam.exam_start_time }}</strong> - <strong>{{ exam.exam_end_time }}</strong>{% elif exam_source %}Unavailable - please check the <a href="{{ exam_source.cnu_source }}">official schedule.</a>{% else %}Unavailable.{% endif %}</p>
    </li>
  </ul>
</div>
<div id="fb-root"></div>
{% endblock %}
