{% extends "base.html" %}

{% block head %}
<script src="/static/assets/js/facebook.js"></script>
<script>
var authenticated = "{{ authenticated }}"
var term = "{{ term.value }}"

facebookCallback = function(response) {
  if (response.status === 'connected') {
    $.get('/friends/', {term: "{{ term.value }}", crn: "{{ course.crn }}"}, function(data) {
      var arr = data.split(",");
      var people_length = 0
      var people = 0
      if (arr.length > 0) {
        FB.api('/me', function(response) {
          var my_id = response.id;
          for(var i=0;i<arr.length;i++) {
            var id = arr[i];
            if (id != my_id) {
              people_length++;
            }
          }
          for(var i=0;i<arr.length;i++) {
            var id = arr[i];
            if (id != my_id) {
              FB.api('/' + id, function(response) {
                var name = response.name;
                var url = 'http://facebook.com/' + id;
                FB.api('/' + id + '/picture/', function(response) {
                  var picture_url = response.data.url;
                  $(".social-body").append('<a href="' + url + '" title="' + name + '"><img src="' + picture_url + '" alt="' + name + '"></a>');
                  people++;
                  if (people == people_length && people_length > 0) {
                    $(".social-panel").removeClass("hidden");
                    $(".social-heading").html(people + (people == 1 ? " person" : " people") + " taking this class");
                  }
                });
              });
            }
          }
        });
      }
    });
  }
}
</script>
<script src="/static/assets/js/buttons.js"></script>
{% endblock %}

{% block search-active %}active{% endblock %}
{% block content %}
<!-- Details Modal -->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="detailsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="detailsLabel">Course Details</h4>
      </div>
      <div class="modal-body">
        <iframe src="" style="zoom:0.60" frameborder="0" height="250" width="99.6%"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Materials Modal -->
<div class="modal fade" id="materials" tabindex="-1" role="dialog" aria-labelledby="materialsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="materialsLabel">Course Materials</h4>
      </div>
      <div class="modal-body">
        {% if materials %}
        <ul class="list-group">
          {% for material in materials %}
          <li class="list-group-item">
            <h4 class="list-group-item-heading">
              {{ material.title }}
              <div class="pull-right">
                <a href="http://chegg.com/search/{{ material.isbn }}/">
                  <img src="/static/assets/images/chegg-icon.png" width="30" height="30">
                </a>
                <a href="http://www.amazon.com/s?url=search-alias%3Daps&field-keywords={{ material.isbn }}">
                  <img src="/static/assets/images/amazon-icon.png" width="30" height="30">
                </a>
              </div>
              </h4>
            <p class="list-group-item-text">
              <ul class="list-unstyled">
                <li><strong>ISBN</strong>: {{ material.isbn }}
                <li><strong>Edition</strong>: {{ material.edition }}
                <li><strong>Author</strong>: {{ material.author }}
              </ul>
            </p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <strong>No required materials for this course.</strong>
        {% endif %}
        <p><a href="{{ course.bookstore_link }}">View on CNU Bookstore</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {% if not authenticated %}
  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Log in with your CNU account to schedule or get updates about this course.
  </div>
  {% elif course.seats == 0 %}
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Heads up:</strong> this class is full.
    Click <strong>Get Updates</strong> to be notified if it opens.
  </div>
  {% endif %}
  <div class="page-header">
    {% if authenticated %}
    <button type="submit" name="follow-button" type="button" data-course-crn="{{ course.crn }}" class="btn btn-default pull-right">
      <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Loading...
    </button>
    {% endif %}
    <h1><strong>{{ course.course }}</strong>: {{ course.title }} <small>with {% if course.instructor.rmp_link %}<a href="{{ course.instructor.rmp_link }}" target="_blan">{% endif %}{{ course.instructor }}{% if course.instructor.rmp_link %} ({{ course.instructor.rmp_score }})</a>{% endif %}</small></h1>
  </div>
  <div class="lead">
    <div class="well well-sm">
      {% if authenticated %}
      <button type="submit" name="schedule-button" type="button" data-course-crn="{{ course.crn }}" class="btn btn-default pull-right">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Loading...
      </button>
      {% endif %}
      <p>
        {% if course.location %}
        Meets
        {% endif %}
        {% if primary_meeting_time %}
        <strong>{{ primary_meeting_time.days }}</strong> from <strong>{{ primary_meeting_time.start_time }}</strong> - <strong>{{ primary_meeting_time.end_time }}</strong>
        {% endif %}
        {% if course.location %}
        in {{ course.location }}.
        {% endif %}
        {% if secondary_meeting_times %}
        <br>
        <small>
          <ul>
            {% for meeting_time in secondary_meeting_times %}
            <li>On <strong>{{ meeting_time.days }}</strong> from <strong>{{ meeting_time.start_time }}</strong> - <strong>{{ meeting_time.end_time }}</strong></li>
            {% endfor %}
          </ul>
        </small>
        {% endif %}
      </p>
      <p>
        <a href="{{ course.course_link }}">
          <button id="detailsButton" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> View Details
          </button>
        </a>
        <button id="materialsButton" type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#materials">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> View Materials
        </button>
      </p>
    </div>
  </div>
  <div class="panel panel-default social-panel hidden">
    <div class="panel-heading social-heading"></div>
    <div class="panel-body social-body">
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Term</h4>
      <p class="list-group-item-text">{{ term.name }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">CRN</h4>
      <p class="list-group-item-text">{{ course.crn }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Seats Left</h4>
      <p class="list-group-item-text">{{ course.seats }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Section</h4>
      <p class="list-group-item-text">{{ course.section }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Credit Hours</h4>
      <p class="list-group-item-text">{{ course.hours }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Course Type</h4>
      <p class="list-group-item-text">{{ course.ctype }}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Attributes</h4>
      <p class="list-group-item-text">{% if course.attributes %}{{ course.get_attributes }}{% else %}N/A{% endif %}</p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Exam Period</h4>
      <p class="list-group-item-text">{% if exam %}<div class="pull-right">(Computed automatically - please <a href="{{ exam_source.cnu_source }}">double-check</a>)</div><strong>{{ exam.exam_date }}</strong> from <strong>{{ exam.exam_start_time }}</strong> - <strong>{{ exam.exam_end_time }}</strong>{% elif exam_source %}Unavailable - please check the <a href="{{ exam_source.cnu_source }}">official schedule.</a>{% else %}Unavailable.{% endif %}</p>
    </li>
  </ul>
</div>
<div id="fb-root"></div>
{% endblock %}
