{% spaceless %}
{% load django_tables2 %}
{% load i18n %}
{% if table.page %}
<style>
.list-body tr td a {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.list-body tr td a:hover {
  color: inherit;
  text-decoration: none;
}
</style>
<div class="table-container">
  {% endif %}
  {% block table %}
  <table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
  {% nospaceless %}
  {% block table.thead %}
  <thead>
    <tr>
      {% for column in table.columns %}
      {% if column.orderable %}
      <th {{ column.attrs.th.as_html }}>
        <form class="form-horizontal" action="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}" method="post">
          {% csrf_token %}
          {% for field in form %}
            {{ field.as_hidden }}
          {% endfor %}
          <a href="javascript:void(0)" onclick="$(this).closest('form').submit()">{{ column.header }}</a>
        </form>
      </th>
      {% else %}
      <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>
  {% endblock table.thead %}
  {% block table.tbody %}
  <tbody class="list-body">
    {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
    {% block table.tbody.row %}
    <tr class="{{ forloop.counter|divisibleby:2|yesno:"even,odd" }} clickable-row"> {# avoid cycle for Django 1.2-1.6 compatibility #}
      {% for column, cell in row.items %}
      <td {{ column.attrs.td.as_html }}>
        <a {% if column.name == "rating" and row.instructor.rmp_link %}href="{{ row.instructor.rmp_link }}" target="_blank"{% else %}href="/course/{{ term.value }}/{{ row.crn }}/"{% endif %}>
          {% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}
        </a>
      </td>
      {% endfor %}
    </tr>
    {% endblock table.tbody.row %}
    {% empty %}
    {% if table.empty_text %}
    {% block table.tbody.empty_text %}
    <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
    {% endblock table.tbody.empty_text %}
    {% endif %}
    {% endfor %}
  </tbody>
  {% endblock table.tbody %}
  {% block table.tfoot %}
  <tfoot></tfoot>
  {% endblock table.tfoot %}
  {% endnospaceless %}
</table>
{% endblock table %}

{% if table.page %}
{% with table.page.paginator.count as total %}
{% with table.page.object_list|length as count %}
{% block pagination %}
<style>
.pager li>form {
	display:inline-block;
}
.pager li>form>a,.pager li>span{
	display:inline-block;
	padding:5px 14px;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:15px
}

.pager li>form>a:focus,.pager li>form>a:hover{
	text-decoration:none;
	background-color:#eee
}
</style>
<nav>
  <ul class="pager">
    {% if table.page.has_previous %}
    {% nospaceless %}{% block pagination.previous %}
    <li class="previous">
      <form class="form-horizontal" action="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          {{ field.as_hidden }}
        {% endfor %}
        <a href="javascript:void(0)" onclick="$(this).closest('form').submit()">{% trans "Previous" %}</a>
      </form>
    </li>
    {% endblock pagination.previous %}{% endnospaceless %}
    {% endif %}

    {% if table.page.has_previous or table.page.has_next %}
    {% nospaceless %}{% block pagination.current %}<li class="current">{% blocktrans with table.page.number as current and table.paginator.num_pages as total %}Page {{ current }} of {{ total }}{% endblocktrans %}</li>{% endblock pagination.current %}{% endnospaceless %}
    {% endif %}

    {% if table.page.has_next %}
    {% nospaceless %}{% block pagination.next %}
    <li class="next">
      <form class="form-horizontal" action="{% querystring table.prefixed_page_field=table.page.next_page_number %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          {{ field.as_hidden }}
        {% endfor %}
        <a href="javascript:void(0)" onclick="$(this).closest('form').submit()">{% trans "Next" %}</a>
      </form>
    </li>
    {% endblock pagination.next %}{% endnospaceless %}
    {% endif %}
  </ul>
</nav>
{% endblock pagination %}
{% endwith %}
{% endwith %}
</div>
{% endif %}
{% endspaceless %}
