{% extends "base.html" %}

{% block head %}
{% if request.user.is_authenticated %}
<script src="/static/assets/js/facebook.js"></script>
<script>
var api_username = "{{ api_username }}"
var api_key = "{{ api_key }}"
var facebookCallback = function(response) {
  if (response.status === 'connected') {
    FB.api('/me', function(response) {
      $.get('/account/link/facebook/', {facebook_id: response.id}, function(data) {
      });
      document.getElementById('facebook-status').innerHTML = 'Connected as ' + response.name + '.';
    });
  } else if (response.status === 'not_authorized') {
    document.getElementById('facebook-status').innerHTML = 'Not Connected';
  } else {
    document.getElementById('facebook-status').innerHTML = 'Not Logged In';
  }
}
</script>
<script src="/static/assets/js/buttons.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <center>
    <div class="well">
      {% if authenticated %}
      <form class="form-horizontal pull-right" action="/account/logout/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
      <p><h4>Logged in as <strong>{{ user.username }}</strong></h4><p>
      {% else %}
      <p>Click Login to login with your {{ school_abbr }} account.</p>
      <a href="{% url "social:begin" "google-oauth2" %}{% if next %}?next={{ next }}{% endif %}">
          <button class="btn btn-primary">Login</button>
      </a>
      {% endif %}
    </div>
  </center>
  {% if authenticated %}
  <div class="panel panel-default" id="profile">
    <div class="panel-heading">
      <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
  <div class="panel panel-primary" id="facebook">
    <div class="panel-heading">
      <h3 class="panel-title">Facebook Integration</h3>
    </div>
    <div class="panel-body">
      <strong>Log in with Facebook to see friends in your classes</strong>
      <p>
        Connecting with Facebook will show your profile only to other connected
        {{ school_abbr }} students on pages of courses you're taking.
      </p>
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
      <div id="facebook-status"></div>
    </div>
  </div>
  <div class="panel panel-default" id="follow">
    <div class="panel-heading">
      <h3 class="panel-title">Followed Courses</h3>
    </div>
    <div class="panel-body">
      <p>
        Following a course will notify you via email when its status changes so
        that you're always in the loop.
      </p>
      {% if followed_courses %}
      <ul class="list-group">
        {% for course in followed_courses %}
        <li class="list-group-item">
          <div class="pull-right">
            <button type="submit" name="follow-button" type="button" data-term-id="{{ course.term.value }}" data-course-crn="{{ course.crn }}" class="btn btn-default pull-right">
              <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Loading...
            </button>
          </div>
          <h4 class="list-group-item-heading">
            <a href="/course/{{ course.term.value }}/{{ course.crn }}/">{{ course }}</a>
          </h4>
          <small>
            {{ course.term }}
          </small>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>
        You haven't followed any courses yet. Follow any course by going to its
        page and clicking the "Get Updates" button.
      </p>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=886841334691353";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
