{% extends "base.html" %}
{% block head %}
<script src="/static/assets/js/moment.min.js"></script>
<script src="/static/assets/js/later.min.js"></script>
<link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css" type="text/css">
<style>
.term-column {
  padding: 10px;
}
.term-details {
  margin: 0 !important;
}
.output-button {
  margin-bottom: 5px;
}
.graph {
  margin-bottom: 20px;
  border-radius: 5px;
}
</style>
<script>
$(document).ready(function() {
  var timer;
  var next;
  var last;
  function tick() {
    var diff = next.diff(moment());

    if (diff <= 0 && timer !== undefined) {
      restartCron();
      return;
    }

    var totalDiff = next.diff(last);
    var percent = (100 - ((diff/totalDiff) * 100)) + '%';
    var s = diff;
    var ms = s % 1000;
    s = (s - ms) / 1000;
    var secs = s % 60;
    s = (s - secs) / 60;
    var mins = s % 60;
    var hrs = (s - mins) / 60;

    if (secs < 10) {
      secs = "0" + secs;
    }
    if (mins < 10) {
      mins = "0" + mins;
    }

    $('#timer').html(hrs + ':' + mins + ':' + secs);
    $('#timer-progress').attr('aria-valuemax', totalDiff);
    $('#timer-progress').attr('aria-valuenow', diff);
    $('#timer-progress').css('width', percent);
  }
  function updateChanges() {
    $('.changes-loading').css('display', 'inline-block');
    $.get("/dashboard/changes/", function(data) {
      if (data != $('#change-log').html()) {
        $('#change-log').html(data);
      }
    });
    $('.changes-loading').css('display', 'none');
  }
  function updateLogs() {
    $('.updates-loading').css('display', 'inline-block');
    $.get("/dashboard/updates/", function(data) {
      if (data != $('#update-log').html()) {
        var expanded = [];
        $.each($('.update'), function() {
          if($(this).is(':visible')) {
            expanded.push($(this).attr('id'));
          }
        });
        var open = null;
        $.each($('.update-modal'), function() {
          if($(this).is(':visible')) {
            open = $(this).data('updateid');
          }
        });
        if (open != null) {
          var dom = $('<div>').append($.parseHTML(data));
          var output = $('#update-output-' + open, dom).text();
          $('#update-output-' + open).html(output);
          $('#update-modal-' + open, dom).remove();
          $('.update', dom).each(function () {
            $('#' + $(this).attr('id')).replaceWith($(this));
          });
        } else {
          $('#update-log').html(data);
        }
        $.each(expanded, function(key, value) {
          $('#' + value).addClass('in')
        });
        $.each($('.update-in-progress'), function() {
          if (!$.inArray($(this).attr('id'), expanded)) {
            $('#' + $(this).attr('id')).addClass('in');
          }
        });
      }
    });
    $('.updates-loading').css('display', 'none');
  }
  function updateEvents() {
    $('.events-loading').css('display', 'inline-block');
    $.get("/dashboard/events/", function(data) {
      if (data != $('#event-log').html()) {
        $('#event-log').html(data);
      }
    });
    $('.events-loading').css('display', 'none');
  }
  function updateCourses() {
    $('.courses-loading').css('display', 'inline-block');
    $.get("/dashboard/courses/", function(data) {
      if (data != $('#courses').html()) {
        $('#courses').html(data);
      }
    });
    $('.courses-loading').css('display', 'none');
  }
  function update() {
    updateChanges();
    updateLogs();
    updateEvents();
    updateCourses();
  }
  function start() {
    startCron();
    startUpdate();
  }
  function startCron() {
    var cron = later.parse.cron('{{ course_interval }}');
    var occurances = later.schedule(cron);
    last = moment(occurances.prev(1));
    next = moment(occurances.next(1));
    $('#last-update').html(last.format('LT'));
    $('#next-update').html(next.format('LT'));

    timer = setInterval(tick, 1000);
  }
  function restartCron() {
    clearInterval(timer);
    startCron();
  }
  function startUpdate() {
    update();
    setInterval(update, 1000 * 10);
  }
  start();
});
</script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="well">
    <h1>
      <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Open Course Dashboard
    </h1>
    <p class="lead">
      Current Term: <strong>{{current_term}}</strong>
    </p>
  </div>
  <div class="updates">
    <strong>Last update:</strong> <span id="last-update"></span>
    <br>
    <strong>Next update:</strong> <span id="next-update"></span>
    <div class="progress">
      <div id="timer-progress" class="progress-bar progress-bar-striped active" role="progressbar">
        <span id="timer">
      </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="panel panel-default">
      <div class="panel-heading">Your courses <i class="fa fa-spinner fa-spin courses-loading" style="display:none;"></i></div>
      <div class="panel-body">
        <ul id="courses" style="list-style-type: none; padding-left: 0;">
        </ul>
      </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">Update Log <i class="fa fa-spinner fa-spin updates-loading" style="display:none;"></i><br><br>
        <div id="update-log" class="panel list-group">
        </div>
      </div>
    </div>
    <object class="graph" type="image/svg+xml" data="/static/graphs/course_updates.svg">
    </object>
    <div class="panel panel-default">
      <div class="panel-heading">Most Recent Changes <i class="fa fa-spinner fa-spin changes-loading" style="display:none;"></i></div>
      <div class="panel-body">
        <ul id="change-log" style="list-style-type: none; padding-left: 0;">
        </ul>
      </div>
    </div>
    <object class="graph" type="image/svg+xml" data="/static/graphs/query_history.svg">
    </object>
    <div class="panel panel-default">
      <div class="panel-heading">Most Recent Events <i class="fa fa-spinner fa-spin events-loading" style="display:none;"></i></div>
      <div class="panel-body">
        <ul id="event-log" style="list-style-type: none; padding-left: 0;">
        </ul>
      </div>
    </div>
    <div class="courses">
      <ul class="list-group">
        <li class="list-group-item">Total Terms: <strong>{{ terms|length }}</strong></li>
        <li class="list-group-item">Total Courses: <strong>{{ courses|length }}</strong></li>
        <li class="list-group-item">Courses Scheduled: <strong>{{ schedule_entries|length }}</strong></li>
        <li class="list-group-item">Courses Being Followed: <strong>{{ follow_entries|length }}</strong></li>
      </ul>
    </div>
  </div>
  </div>
</div>
{% endblock %}
