{% extends "base.html" %}

{% block head %}
<script src="/static/assets/js/d3.min.js"></script>
<script src="/static/assets/js/nv.d3.min.js"></script>
<link rel="stylesheet" href="/static/assets/css/nv.d3.css" />
<style>
  .chart {
    height: 500px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  {% for update in updates %}
  {% if update.published or request.user.is_superuser %}
    <div class="page-header">
      <h1>{{ update.title }} <small>{{ update.time_created }}</small></h1>
    </div>
    {% include update.html_path %}
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
