{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block head %}
<style>
  .panel-body form  {
    display: table;
  }
  .panel-body p {
    display: table-row;
  }
  .panel-body label {
    display: table-cell;
  }
  .panel-body input {
    display: table-cell;
  }
</style>
{% endblock %}

{% block search-active %}active{% endblock %}
{% block content %}
<div class="container">
  <div class="panel-group" id="accordion" role="search" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="true" aria-controls="collapse">
            Search
          </a>
        </h4>
      </div>
      <div id="collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
        <div class="panel-body">
          <form class="form-horizontal" action="/search/" method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% render_table table %}
</div>
{% endblock %}
