{% extends "base.html" %}

{% block content %}
<div class="container">
  <center>
    <div class="well">
      <p><strong>Whoops.</strong> Something's missing.</p>
      <p>
        The page you're trying to get to can't be found. Try heading back
        <a href="/">home</a> or double-checking your link. If you're confused
        about why you're getting this error, please
        <a href="#report" data-toggle="modal" data-target="#report">let us know what you were looking for</a>.
      </p>
    </div>
  </center>
</div>
{% endblock %}
