{% extends "base.html" %}

{% block head %}
<meta property="og:description" content="A free and independent service for {{ school_abbr }} students to research, plan, and share their schedules." />
{% endblock %}
{% block home-active %}active{% endblock %}
{% block content %}
<div class="container">
  {% for alert in alerts %}
  {% if alert.is_active %}
  <div class="alert alert-{{ alert.style }}" role="alert">
    <button type="button" class="close" data-dismiss="alert" data-alert="{{ alert.id}}" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ alert.message | safe }}
  </div>
  {% endif %}
  {% endfor %}
  <div class="jumbotron">
    {% if request.user.is_authenticated %}
    <h1>
      Welcome, {{ first_name }}!
    </h1>
    <p>
      If you're new, you might want to read the
      <a href="/about/#getting-started">Getting Started guide</a> to get your
      courses synced from CNU Live.
    </p>
    {% if todo|length > 0 %}
    Here's some stuff you can do to improve your experience:
    <ul>
      {% for value in todo %}
      <li>{{ value }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% else %}
    <h1>
      Welcome to Open Course
    </h1>
    <p class="lead">
      A free and independent service for {{ school_abbr }}  students to research, plan, and share their schedules.
    </p>
    <ul>
      <li>Search for courses using any criteria</li>
      <li>See your exam schedule</li>
      <li>Find Facebook friends in your classes</li>
      <li>Review instructor information, including RateMyProfessor scores</li>
      <li>Create and share semester schedules</li>
      <li>Follow courses and get updates on their status</li>
    </ul>
    <p>
      Open Course is a non-official website that allows you to search and organize courses.
      To begin, login with your {{ school_abbr }} account or simply click Search to browse classes.
    </p>
    <p><a class="btn btn-primary btn-lg" href="/search/" role="button">Get Started</a></p>
    {% endif %}
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{ current_term.name }}'s Most Popular Courses</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {% for key, value in popular_courses.iteritems %}
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            <a href="/course/{{ key.term_id }}/{{ key.crn }}/">
              {{ key.title }}
            </a>
            <small>with {{ key.instructor }}</small>
          </h4>
          <p class="list-group-item-text">
            {{ value }} people taking it
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
